@use '../base/utilities' as *;
@use '../base/responsive' as *;

.article {
    .row {
        margin-top: 30px;

        [class*='col'] {
            margin-top: 30px;
        }

        @include responsive-md {
            [class*='col'] {
                margin-top: 20px;
            }
        }

        @include responsive-sm {
            [class*='col'] {
                margin-top: 25px;
            }
        }

        @include responsive-xs {
            padding: 0 20px;
        }
    }

    .row:first-child {
        margin-top: -30px;

        @include responsive-md {
            margin-top: -20px;
        }

        @include responsive-sm {
            margin-top: -25px;
        }
    }

    &__card {
        padding: 8px 8px 30px;
        border-radius: 10px;
        background: var(--white-color);
        box-shadow: 3px 6px 60px -20px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s linear;

        &:hover {
            transform: translateY(-12px);
        }
    }

    &__img-wrapper {
        display: block;
        width: 100%;
        aspect-ratio: 340 / 293;
        overflow: hidden;

        border-radius: 10px;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    &__info {
        margin-top: 30px;
        padding: 0 30px;
    }

    &__publish-time {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__date {
        font-size: 1.6rem;
        line-height: 1.31;
        font-weight: 500;
        font-family: var(--inter-font);
        color: var(--black-color);

        @include responsive-lg {
            font-size: 1.6rem;
        }

        @include responsive-md {
            font-size: 1.8rem;
        }
    }

    &__title {
        margin-top: 17px;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;

        color: var(--black-color);
        font-family: var(--manrope-font);

        @include responsive-lg {
            margin-top: 14px;
            font-size: 1.9rem;
        }

        @include responsive-md {
            font-size: 2.1rem;
        }

        @include responsive-sm {
            font-size: 2.2rem;
        }

        a {
            text-decoration: none;
        }
    }

    &__summary {
        margin-top: 15px;
        font-size: 1.6rem;
        line-height: 1.75;
        color: var(--grey-color);

        @include responsive-lg {
            margin-top: 12px;
        }

        @include responsive-md {
            font-size: 1.8rem;
        }
    }

    &__link {
        display: block;
        margin-top: 19px;

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.75;
        color: var(--primary-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__btn-wrapper {
        margin: 55px 0 150px;
        text-align: center;

        @include responsive-md {
            margin: 55px 0 120px;
        }

        @include responsive-sm {
            margin: 55px 0 80px;
        }

        @include responsive-xs {
            margin: 40px 0 50px;
        }
    }
}
