@use '../base/responsive' as responsive;

.blog__item {
    @include responsive.breakpoint-md {
        margin-top: 60px;
    }

    @include responsive.breakpoint-xs {
        margin-top: 40px;
    }

    a {
        display: block;
        overflow: hidden;
    }

    &-img {
        width: 100%;
        height: 370px;
        object-fit: cover;
        transition: transform 0.4s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-info {
        margin-top: 20px;

        @include responsive.breakpoint-xs {
            margin-top: 18px;
        }
    }

    &-title {
        margin-top: 21px;
        max-width: 370px;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;
        transition: color 0.2s linear;

        @include responsive.breakpoint-lg {
            font-size: 1.9rem;
        }

        @include responsive.breakpoint-md {
            width: 100%;
            max-width: initial;
            font-size: 2.2rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 2rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 18px;
            font-size: 1.9rem;
            line-height: 1.52;
        }

        &:hover {
            color: var(--primary-color);
        }

        a {
            text-decoration: none;
        }
    }

    &-link {
        margin-top: 12px;
        font-size: 1.8rem;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.1s linear;

        @include responsive.breakpoint-lg {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 11px;
        }

        &:hover {
            color: var(--primary-color);
            text-decoration: underline;
        }
    }

    &-link-active {
        color: var(--primary-color);
    }
}

.author {
    display: flex;
    align-items: center;
    gap: 16px;

    &__avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;

        @include responsive.breakpoint-lg {
            width: 55px;
            height: 55px;
        }

        @include responsive.breakpoint-md {
            width: 70px;
            height: 70px;
        }

        @include responsive.breakpoint-xs {
            width: 57px;
            height: 57px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 1.8rem;
        font-weight: 600;

        @include responsive.breakpoint-xs {
            font-size: 1.6rem;
            line-height: 1.68;
        }
    }

    &__job {
        font-size: 1.6rem;
        line-height: 1.75;
        color: var(--grey-color);

        @include responsive.breakpoint-xs {
            font-size: 1.4rem;
            line-height: 1.78;
        }
    }
}
