@use '../base/utilities' as utilities;
@use '../base/responsive' as responsive;

.logo {
    text-decoration: none;

    @include responsive.breakpoint-md {
        display: none;
    }

    &__wrapper {
        @include utilities.flex-column-center;
        gap: 4px;
        font-family: var(--roboto-font);
        text-decoration: none;

        .logo {
            @include utilities.flex-column-center;
            gap: 4px;
        }
    }

    &__icon {
        margin-left: 12px;

        @include responsive.breakpoint-md {
            width: 40px;
            height: 40px;
        }
    }

    &__title {
        @include utilities.flex-column-center;
        gap: 3.5px;

        @include responsive.breakpoint-md {
            gap: 4.5px;
        }

        span {
            &:first-of-type {
                font-size: 2.4rem;
                line-height: 0.58;

                @include responsive.breakpoint-md {
                    font-size: 2.6rem;
                }
            }

            &:last-of-type {
                font-size: 1.4rem;
                line-height: 1;

                @include responsive.breakpoint-md {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
