:root {
    --heading-font: 'Roboto Slab', serif;
    --body-font: 'Manrope', sans-serif;

    --primary-color: #fd6038;
    --yellow-color: #fed464;
    --light-yellow-color: #f8ebc9;
    --green-color: #017848;
    --light-green-color: #beccc7;
    --black-color: #0e1412;
    --white-color: #fff;
    --grey-color: #586863;
    --light-grey-color: #dbe1e3;
    --border-color: #e6efec;
    --footer-color: #313d39;
}
