@use '../base/utilities' as utilities;
@use '../base/responsive' as responsive;

/* Hero */
.hero {
    background: var(--light-yellow-color);
    padding: 145px 0 150px;

    @include responsive.breakpoint-lg {
        padding: 100px 0;
    }

    @include responsive.breakpoint-md {
        padding: 60px 0 70px;
    }

    @include responsive.breakpoint-sm {
        padding: 30px 0 80px;
    }

    @include responsive.breakpoint-xs {
        padding: 20px 20px 30px;
    }

    &__label {
        @include responsive.breakpoint-xs {
            font-size: 1rem;
        }
    }

    &__heading {
        margin-top: 12px;
        max-width: 570px;

        font-size: 6rem;
        font-weight: 800;
        line-height: 1.16;

        @include responsive.breakpoint-lg {
            font-size: 4.8rem;
        }

        @include responsive.breakpoint-md {
            font-size: 4rem;
        }

        @include responsive.breakpoint-sm {
            width: 335px;
            font-size: 3.5rem;
        }
    }

    &__desc {
        margin-top: 18px;
        max-width: 470px;
        font-size: 1.8rem;
        line-height: 1.66;

        @include responsive.breakpoint-md {
            font-size: 1.8rem;
        }

        @include responsive.breakpoint-xs {
            width: 276px;
            font-size: 1rem;
            line-height: 1.7;
        }
    }

    &__media {
        position: relative;
        aspect-ratio: 470 / 476;
        width: 100%;
        margin-left: auto;

        display: flex;
        justify-content: flex-end;

        @include responsive.breakpoint-lg {
            width: 90%;
        }

        @include responsive.breakpoint-md {
            margin: 140px auto 0;
            width: 87%;
        }

        @include responsive.breakpoint-sm {
            margin: 120px auto 0;
            width: 86%;
        }

        @include responsive.breakpoint-xs {
            margin: 85px auto 0;
        }
    }

    &__media-box {
        display: block;
        position: absolute;
        z-index: 3;
        top: -26.5%;
        left: -24%;
        transform: translate(24%, 26%);

        width: 35.5%; /* Changed from fixed 185px to relative 30% of parent */
        aspect-ratio: 1 / 1; /* This maintains a square shape */
        height: auto;
        cursor: pointer;

        @include responsive.breakpoint-md {
            top: -20%;
            left: -11.5%;
            width: 32%;
        }

        @include responsive.breakpoint-sm {
            top: -25.5%;
            left: -15%;
            width: 35%;
        }

        @include responsive.breakpoint-xs {
            top: -22.5%;
            left: -12.2%;
            width: 32%;
        }
    }

    &__body {
        position: relative;
        width: 100%;
        height: 100%;
        aspect-ratio: 470 / 476;
        background: var(--green-color);

        @include responsive.breakpoint-md {
            max-width: initial;
            width: 90%;
            margin-left: auto;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            aspect-ratio: 170 / 422; /* maintain ratio */
            width: 36.17%; /* 170px ÷ 470px ≈ 36.17% of the parent width */
            height: auto;
            background: var(--yellow-color);

            @include responsive.breakpoint-md {
                width: 39%;
            }

            @include responsive.breakpoint-sm {
                width: 40%;
            }
        }
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 65%;
        padding: 7px;
        aspect-ratio: 1 / 1;
        height: auto;
        object-fit: cover;

        @include responsive.breakpoint-md {
            padding: 8px;
        }

        @include responsive.breakpoint-xs {
            padding: 3px;
        }
    }

    &__letters {
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__img {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 14.5%;

        width: 70%;
        height: 100%;
        object-fit: cover;

        // Test
        aspect-ratio: auto;
    }

    &__decor {
        position: absolute;
        z-index: 2;
        top: 23%;
        right: -8%;

        width: 22%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 164 / 128;

        @include responsive.breakpoint-md {
            width: 22%;
            right: -8%;
        }

        @include responsive.breakpoint-xs {
            width: 23%;
            top: 27%;
            right: -9%;
        }
    }
}

// About Section
.about {
    padding: 100px 0;
    background: var(--black-color);

    @include responsive.breakpoint-md {
        padding: 80px 0;
    }

    @include responsive.breakpoint-sm {
        padding: 80px 0;
    }

    @include responsive.breakpoint-xs {
        padding: 30px 25px;
    }

    &__media {
        position: relative;
        aspect-ratio: 1 / 1;
        width: 100%;
        max-width: 570px;

        @include responsive.breakpoint-lg {
            width: 87%;
        }

        @include responsive.breakpoint-md {
            width: 100%;
            margin: 0 auto;
        }

        @include responsive.breakpoint-sm {
            display: none;
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__decor {
        position: absolute;
        bottom: 20%;
        right: -12%;

        width: 20%;
        max-width: 114px;
        aspect-ratio: 114 / 158;
        height: auto;

        @include responsive.breakpoint-sm {
            display: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;

        @include responsive.breakpoint-md {
            margin-top: 50px;
        }

        @include responsive.breakpoint-sm {
            margin-top: 0;
        }
    }

    &__label {
        color: var(--primary-color);

        @include responsive.breakpoint-xs {
            font-size: 1.2rem;
        }
    }

    &__heading {
        max-width: 469px;
        color: var(--white-color);

        @include responsive.breakpoint-lg {
            font-size: 4rem;
        }

        @include responsive.breakpoint-sm {
            margin-top: 12px;
            font-size: 3.8rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 10px;
            width: 329px;
            font-size: 3rem;
            line-height: 1.2;
        }
    }

    &__desc {
        max-width: 470px;
        margin-top: 18px;
        font-size: 1.8rem;
        line-height: 1.66;
        color: var(--light-green-color);

        @include responsive.breakpoint-lg {
            margin-top: 15px;
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-md {
            margin-top: 22px;
            font-size: 1.8rem;
        }

        @include responsive.breakpoint-sm {
            margin-top: 18px;
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 15px;
            width: 330px;
            font-size: 1.2rem;
        }
    }

    &__stats {
        display: flex;
        gap: 55px;
        margin-top: 28px;

        @include responsive.breakpoint-lg {
            margin-top: 20px;
        }

        @include responsive.breakpoint-sm {
            margin-top: 15px;
        }
    }

    &__group-stat {
        display: flex;
        flex-direction: column;
        gap: 4px;

        @include responsive.breakpoint-md {
            gap: 3px;
        }

        @include responsive.breakpoint-sm {
            gap: 2.7px;
        }
    }

    &__number {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41;
        color: var(--white-color);

        @include responsive.breakpoint-lg {
            font-size: 2.2rem;
        }

        @include responsive.breakpoint-md {
            font-size: 3rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 2.4rem;
        }

        @include responsive.breakpoint-xs {
            font-size: 1.6rem;
            line-height: 1.4;
        }
    }

    &__stat-label {
        font-size: 1.8rem;
        line-height: 1.75;
        color: var(--light-green-color);

        @include responsive.breakpoint-lg {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-md {
            font-size: 1.8rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-xs {
            font-size: 1.12rem;
            line-height: 1.75;
        }
    }
}

// Features
.features {
    @include responsive.breakpoint-xs {
        padding: 0 20px;
    }

    &__media {
        position: relative;
        display: flex;
        justify-content: flex-end;

        // Test
        aspect-ratio: 1 / 1; // 570 / 570
        width: 100%;
        max-width: 570px;

        @include responsive.breakpoint-md {
            width: 85%;
            margin: 0 auto;
        }

        @include responsive.breakpoint-xs {
            width: 85%;
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        margin-left: 130px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include responsive.breakpoint-lg {
            margin-left: 80px;
        }

        @include responsive.breakpoint-md {
            margin-left: 0;
        }
    }

    &__label {
        color: var(--grey-color);

        @include responsive.breakpoint-xs {
            font-size: 1.2rem;
            line-height: 1.75;
        }
    }

    &__heading {
        @include responsive.breakpoint-lg {
            font-size: 4rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 3.8rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 5px;
            font-size: 3rem;
            line-height: 1.23;
        }
    }

    &__desc {
        margin-top: 18px;
        font-size: 1.8rem;
        line-height: 1.66;
        color: var(--grey-color);

        @include responsive.breakpoint-lg {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-md {
            font-size: 1.8rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 15px;
            font-size: 1.2rem;
            line-height: 1.75;
        }
    }

    &__list {
        margin-top: 28px;

        @include responsive.breakpoint-xs {
            margin-top: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.8rem;
        font-weight: 500;

        @include responsive.breakpoint-lg {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-xs {
            font-size: 1.2rem;
            line-height: 1.75;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: var(--black-color);
        }

        + .features__item {
            margin-top: 12px;

            @include responsive.breakpoint-xs {
                margin-top: 9px;
            }
        }
    }

    &__group:first-of-type {
        .row {
            @include responsive.breakpoint-md {
                flex-direction: column-reverse;
                gap: 50px;
            }

            @include responsive.breakpoint-xs {
                gap: 30px;
            }
        }
    }

    &__group:last-of-type {
        margin-top: 150px;

        @include responsive.breakpoint-md {
            margin-top: 100px;
        }

        @include responsive.breakpoint-sm {
            margin-top: 70px;
        }

        @include responsive.breakpoint-xs {
            margin-top: 50px;
        }

        .features__info {
            margin-left: 0;
            margin-right: 130px;

            @include responsive.breakpoint-lg {
                margin-right: 80px;
            }

            @include responsive.breakpoint-md {
                margin-right: 0;
            }
        }

        .features__media {
            margin-top: 50px;
        }
    }
}

[class*='features__decor-'] {
    position: absolute;
}

.features__decor {
    &-first {
        position: absolute;
        top: 50%;
        left: -9%;
        transform: translateY(-50%);

        width: 20.5%;
        aspect-ratio: 117 / 129;
        height: auto;
    }

    &-third {
        width: 22.81%;
        aspect-ratio: 130 / 93;
        left: -12%;
        top: 50%;
        transform: translateY(-50%);
    }

    &-second,
    &-fourth {
        position: absolute;
        width: 3.51%;
        height: auto;
        aspect-ratio: 20 / 220;
    }

    &-second {
        top: 0;
        right: 0;
    }

    &-fourth {
        bottom: 0;
        right: 0;
    }
}

// Team
.team {
    margin-top: 150px;
    background: var(--black-color);

    @include responsive.breakpoint-lg {
        margin-top: 100px;
    }

    @include responsive.breakpoint-sm {
        margin-top: 80px;
    }

    @include responsive.breakpoint-xs {
        margin-top: 50px;
    }

    &__list {
        margin-top: -30px;

        @include responsive.breakpoint-lg {
            margin-top: -50px;
        }

        @include responsive.breakpoint-md {
            margin-top: -40px;
        }

        @include responsive.breakpoint-sm {
            margin-top: -20px;
        }
    }

    .col:first-of-type {
        .team__btn {
            opacity: 1;
            visibility: visible;
        }
    }

    &__inner {
        padding: 100px 0;

        @include responsive.breakpoint-lg {
            padding: 80px 0;
        }

        @include responsive.breakpoint-xs {
            padding: 40px 0 50px;
        }
    }

    &__info {
        @include utilities.flex-column-center;
        margin-bottom: 70px;

        @include responsive.breakpoint-sm {
            margin-bottom: 40px;
        }
    }

    &__label {
        color: var(--primary-color);

        @include responsive.breakpoint-xs {
            font-size: 1.2rem;
            line-height: 1.75;
        }
    }

    &__heading {
        color: var(--white-color);

        @include responsive.breakpoint-lg {
            font-size: 4rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 3.8rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 5px;
            font-size: 3rem;
            line-height: 1.23;
        }
    }

    &__desc {
        margin-top: 18px;
        max-width: 470px;

        font-size: 1.8rem;
        line-height: 1.66;
        text-align: center;
        color: var(--light-green-color);

        @include responsive.breakpoint-lg {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-md {
            font-size: 1.8rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 15px;
            width: 335px;
            font-size: 1.2rem;
            line-height: 1.75;
        }
    }

    &__block {
        position: relative;
        margin-top: 30px;

        @include responsive.breakpoint-lg {
            margin-top: 50px;
        }

        @include responsive.breakpoint-md {
            margin-top: 40px;
        }

        @include responsive.breakpoint-xs {
            margin-top: 20px;
        }

        &:hover .team__btn {
            opacity: 1;
            visibility: visible;
        }

        &:hover img {
            transform: translateY(-10px);
        }
    }

    &__thumb {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;

            object-fit: cover;
            transition: transform 0.5s ease;
        }
    }

    &__btn-wrap {
        margin-top: 55px;
        text-align: center;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 18px;
        color: var(--white-color);
        cursor: pointer;
    }

    &__name {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;

        @include responsive.breakpoint-md {
            font-size: 2rem;
        }

        @include responsive.breakpoint-xs {
            font-size: 2.2rem;
        }
    }

    &__title {
        line-height: 1.75;
        color: var(--light-green-color);
    }

    &__btn-wrap {
        margin-top: 40px;
    }
}

// Awards
.awards {
    background: var(--light-yellow-color);

    &__inner {
        padding: 100px 0;

        @include responsive.breakpoint-md {
            padding: 80px 0;
        }

        @include responsive.breakpoint-xs {
            padding: 50px 52px;
        }
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    &__label {
        @include responsive.breakpoint-xs {
            font-size: 1.2rem;
            line-height: 1.75;
        }
    }

    &__heading {
        @include responsive.breakpoint-md {
            font-size: 4rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 3.8rem;
        }

        @include responsive.breakpoint-xs {
            font-size: 3rem;
            line-height: 1.23;
        }
    }

    &__media {
        margin-top: 70px;

        @include responsive.breakpoint-md {
            margin-top: 40px;
        }

        .col {
            @include responsive.breakpoint-lg {
                margin-top: 30px;
            }

            @include responsive.breakpoint-xs {
                margin-top: 20px;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 270px;
        height: 270px;
        padding: 85px 36px;
        background: var(--white-color);

        @include responsive.breakpoint-lg {
            width: 100%;
            height: 100%;
        }
    }

    .col {
        &:first-of-type {
            .awards__thumb {
                width: 136px;

                @include responsive.breakpoint-lg {
                    width: 180px;
                }

                @include responsive.breakpoint-md {
                    width: 200px;
                }
            }
        }

        &:nth-of-type(2) {
            .awards__thumb {
                width: 198px;

                @include responsive.breakpoint-lg {
                    width: 251px;
                }

                @include responsive.breakpoint-md {
                    width: 270px;
                }
            }
        }

        &:nth-of-type(3) {
            .awards__thumb {
                width: 143px;

                @include responsive.breakpoint-lg {
                    width: 180px;
                }

                @include responsive.breakpoint-md {
                    width: 200px;
                }
            }
        }

        &:nth-of-type(4) {
            .awards__thumb {
                width: 100px;

                @include responsive.breakpoint-lg {
                    width: 150px;
                }

                @include responsive.breakpoint-md {
                    width: 200px;
                }
            }
        }
    }
}

// Testimonial
.testimonial {
    margin-top: 150px;

    @include responsive.breakpoint-lg {
        margin-top: 100px;
    }

    @include responsive.breakpoint-sm {
        margin-top: 80px;
    }

    @include responsive.breakpoint-xs {
        margin-top: 50px;
        padding: 0 20px;
    }

    &__intro {
        display: flex;
        justify-content: space-between;
        align-items: self-end;
    }

    &__label {
        color: var(--grey-color);

        @include responsive.breakpoint-xs {
            font-size: 1.2rem;
            line-height: 1.78;
        }
    }

    &__heading {
        max-width: 469px;

        @include responsive.breakpoint-lg {
            font-size: 4rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 3.8rem;
        }

        @include responsive.breakpoint-xs {
            width: 335px;
            font-size: 3rem;
            line-height: 1.23;
        }
    }

    &__right {
        display: flex;
        gap: 20px;

        @include responsive.breakpoint-md {
            display: none;
        }
    }

    &__client {
        margin-top: 70px;

        @include responsive.breakpoint-md {
            margin-top: 50px;
        }

        @include responsive.breakpoint-sm {
            margin-top: 30px;
        }

        @include responsive.breakpoint-xs {
            margin-top: 40px;
        }

        .col {
            @include responsive.breakpoint-md {
                margin-top: 30px;
            }

            @include responsive.breakpoint-xs {
                margin-top: 20px;
            }
        }
    }

    &__dots {
        margin-top: 55px;
        display: flex;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
    }

    &__dot {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--black-color);

        &-active {
            background: var(--primary-color);
        }
    }
}

// FAQ
.faq {
    margin-top: 150px;

    @include responsive.breakpoint-lg {
        margin-top: 100px;
    }

    @include responsive.breakpoint-xs {
        margin-top: 50px;
        padding: 0 20px;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        margin-top: 6px;
        color: var(--grey-color);

        @include responsive.breakpoint-xs {
            font-size: 1rem;
            line-height: 1.7;
        }
    }

    &__heading {
        @include responsive.breakpoint-lg {
            font-size: 4rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 3.8rem;
        }

        @include responsive.breakpoint-xs {
            font-size: 2.4rem;
            line-height: 1.27;
        }
    }

    &__filters {
        margin-top: 18px;
        display: flex;
        gap: 30px;
    }

    &__filter {
        font-size: 1.8rem;
        cursor: pointer;

        @include responsive.breakpoint-lg {
            font-size: 1.6rem;
        }

        @include responsive.breakpoint-xs {
            font-size: 1rem;
            line-height: 1.7;
        }

        &-active {
            color: var(--primary-color);
        }
    }

    &__list {
        @include utilities.flex-column-center;
        margin-top: 70px;

        @include responsive.breakpoint-xs {
            margin-top: 53px;
        }
    }
}

// Blog
.blog {
    margin: 75px 0;
    padding: 75px 0;

    @include responsive.breakpoint-sm {
        margin: 50px 0;
        padding: 37px 0;
    }

    @include responsive.breakpoint-xs {
        margin: 25px 0;
        padding: 25px 20px;
    }

    &__label {
        color: var(--grey-color);

        @include responsive.breakpoint-xs {
            font-size: 1.2rem;
            line-height: 1.75;
        }
    }

    &__heading {
        @include responsive.breakpoint-lg {
            font-size: 4rem;
        }

        @include responsive.breakpoint-sm {
            font-size: 3.8rem;
        }

        @include responsive.breakpoint-xs {
            margin-top: 5px;
            font-size: 3rem;
            line-height: 1.23;
        }
    }

    &__intro {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include responsive.breakpoint-md {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        @include responsive.breakpoint-xs {
            gap: 0;
        }
    }

    &__desc {
        margin-top: 18px;
        max-width: 470px;
        font-size: 1.8rem;
        line-height: 1.66;
        color: var(--grey-color);

        @include responsive.breakpoint-lg {
            font-size: 1.6rem;
        }
    }

    &__list {
        margin-top: 70px;

        @include responsive.breakpoint-md {
            margin-top: 10px;
        }

        @include responsive.breakpoint-xs {
            margin-top: 0;
        }
    }

    &__bottom {
        display: none;

        @include responsive.breakpoint-xs {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .btn__blog {
            display: none;

            @include responsive.breakpoint-xs {
                margin-top: 40px;
                display: block;
                width: 158px;
            }
        }
    }
}
