@use '../base/utilities' as *;
@use '../base/responsive' as *;

.banner {
    background: var(--light-yellow-color);
    padding: 100px 0;

    @include responsive-lg {
        padding: 90px 0;
    }

    @include responsive-md {
        padding: 80px 0 90px;
    }

    @include responsive-sm {
        padding: 60px 0 70px;
    }

    @include responsive-xs {
        padding: 42px 20px 40px;
    }

    &__inner {
        @include flex-column-center;
    }

    &__label {
        @include responsive-xs {
            font-size: 1rem;
        }
    }

    &__heading {
        margin-top: 12px;
        max-width: 670px;

        font-size: 6rem;
        font-weight: 800;
        line-height: 1.16;
        text-align: center;

        @include responsive-lg {
            font-size: 5rem;
        }

        @include responsive-md {
            font-size: 4rem;
        }

        @include responsive-sm {
            font-size: 3.5rem;
        }

        @include responsive-xs {
            margin-top: 6px;
            width: 335px;
            font-size: 3rem;
            line-height: 1.16;
        }
    }

    &__desc {
        margin-top: 18px;
        max-width: 670px;
        font-size: 1.8rem;
        line-height: 1.66;
        text-align: center;

        @include responsive-md {
            font-size: 1.8rem;
        }

        @include responsive-xs {
            margin-top: 9px;
            width: 335px;
            font-size: 1rem;
            line-height: 1.7;
        }
    }
}
