@use '../base/utilities' as *;
@use '../base/responsive' as *;

.drawer-open {
    display: none;

    @include responsive-md {
        display: block;
        width: 30px;
        height: 30px;
    }

    @include responsive-xs {
        width: 18px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.drawer-close {
    display: none;

    @include responsive-md {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 30px;

        opacity: 0.6;
        font-size: 2.5rem;
        color: var(--white);
    }
}

.nav-wrapper {
    @include responsive-md {
        @include flex-column-center;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        bottom: 0;

        width: 70%;
        background: var(--light-yellow-color);

        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }

    // Logo inside responsive nav
    .logo__wrapper {
        display: none;
        text-decoration: none;

        @include responsive-md {
            display: block;
        }

        .logo {
            @include responsive-md {
                // @include flex-column-center;
                // gap: 6px;
                margin-top: 15px;
                padding: 40px 30px;
            }
        }
    }
}

.drawer-overlay {
    @include responsive-md {
        display: block;
        position: fixed;
        z-index: 2;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);

        opacity: 0;
        visibility: hidden;
        transition: opacity ease, visibility ease;
        transition-duration: 0.5s;
    }
}

#drawer:checked ~ .nav-wrapper {
    transform: translateX(0);
}

#drawer:checked ~ .drawer-overlay {
    opacity: 1;
    visibility: visible;
}

// Header
.header {
    background: var(--light-yellow-color);

    @include responsive-xs {
        padding: 0 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        @include responsive-md {
            padding: 50px 0 30px;
        }

        @include responsive-xs {
            padding: 32px 0 0;
        }
    }
}

// Navbar
.navbar {
    @include responsive-md {
        display: block;
        width: 100%;
        height: 100vh;
    }

    &__list {
        display: flex;
        gap: 20px;

        @include responsive-md {
            @include flex-column-center;
            overflow-y: auto;
            overscroll-behavior: contain;
        }

        @include responsive-sm {
            gap: 5px;
        }
    }
}

.navbar__item {
    position: relative;
    padding: 15px;
    line-height: 1.75;
    cursor: pointer;

    @include responsive-md {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    @include responsive-sm {
        font-size: 1.8rem;
    }

    @include responsive-xs {
        font-size: 1.6rem;
    }

    &-active {
        font-weight: 600;
        color: var(--primary-color);

        @include responsive-md {
            font-weight: normal;
            color: inherit;
        }

        .navbar__link::after {
            background: url('/assets/icons/arrow-up-orange.svg') no-repeat
                center / contain;
        }
    }

    &:hover {
        .navbar__link {
            color: var(--primary-color);
            text-shadow: 0.25px 0.2px 0.3px currentColor;
        }

        .navbar__link::after {
            background-image: url('/assets/icons/arrow-up-orange.svg');
        }

        .submenu {
            opacity: 1;
            visibility: visible;
        }
    }

    .navbar__link {
        position: relative;
        text-decoration: none;
        transition: color 0.2s ease, text-shadow 0.2s ease;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -12px;
            transform: translateY(-50%);

            background: url('/assets/icons/arrow-down-black.svg') no-repeat
                center / contain;
            width: 8px;
            height: 4px;
            transition: background-image 0.3s ease;

            @include responsive-md {
                right: -20px;
                width: 12px;
                height: 8px;
            }

            @include responsive-xs {
                right: -18px;
                width: 10px;
                height: 6px;
            }
        }
    }
}

// Phone
.phone {
    &__label {
        margin-right: 4px;
        line-height: 1.75;

        @include responsive-xs {
            font-size: 1rem;
        }
    }

    &__number {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45;

        @include responsive-xs {
            font-size: 1.2rem;
            line-height: 1.6;
        }
    }
}
