<header class="header">
    <div class="container">
        <!-- Header -->
        <div class="header__body">
            <!-- Logo -->
            <a
                class="logo__wrapper"
                href="/"
            >
                <div class="logo">
                    <img
                        src="./assests/icons/hammer.svg"
                        alt=""
                        class="logo__icon"
                    />
                    <div class="logo__title">
                        <span>Justice</span>
                        <span>Law Firm</span>
                    </div>
                </div>
            </a>

            <label
                for="drawer"
                class="drawer-open"
            >
                <i class="fa-solid fa-bars"></i>
            </label>

            <!-- Start Navigation -->
            <input
                type="checkbox"
                id="drawer"
                hidden
            />

            <label
                for="drawer"
                class="drawer-overlay"
            ></label>

            <div class="nav-wrapper">
                <!-- Logo -->
                <a
                    class="logo__wrapper"
                    href="/"
                >
                    <div class="logo">
                        <img
                            src="./assests/icons/hammer.svg"
                            alt=""
                            class="logo__icon"
                        />
                        <div class="logo__title">
                            <span>Justice</span>
                            <span>Law Firm</span>
                        </div>
                    </div>
                </a>
                <!-- Drawer close -->
                <label
                    for="drawer"
                    class="drawer-close"
                >
                    <i class="fa-solid fa-xmark"></i>
                </label>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item navbar__item-active">
                            <a
                                href="#!"
                                class="navbar__link"
                                >Home</a
                            >
                        </li>
                        <li class="navbar__item">
                            <a
                                href="#!"
                                class="navbar__link"
                                >About</a
                            >
                        </li>
                        <li class="navbar__item">
                            <a
                                href="#!"
                                class="navbar__link"
                                >Practice Areas</a
                            >
                        </li>
                        <li class="navbar__item">
                            <a
                                href="#!"
                                class="navbar__link"
                                >Attorneys</a
                            >
                        </li>
                        <li class="navbar__item">
                            <a
                                href="#!"
                                class="navbar__link"
                                >Page</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Phone -->
            <div class="phone">
                <span class="phone__label">Call :</span>
                <span class="phone__number">(000) 123 456 789</span>
            </div>
        </div>

        <!-- Hero -->
        <div class="hero">
            <div class="row row-cols-2 row-cols-md-1">
                <div class="col">
                    <div class="hero__info">
                        <p class="label hero__label">#1 Law Firm in New York</p>
                        <h1 class="hero__heading">
                            Where People Meets Personalized Support.
                        </h1>
                        <p class="hero__desc">
                            Where every injury is personal. We are a different
                            kind of law firm. Let our small, passionate group of
                            trial lawyers fight for your rights!
                        </p>
                        <a
                            href="#!"
                            class="btn hero-btn"
                            >Get a Consultations</a
                        >
                    </div>
                </div>
                <div class="col">
                    <div class="hero__media">
                        <div class="hero__decor-groups">
                            <div class="hero__media-groups">
                                <img
                                    src="./assests/img/img-hero-play-video.png"
                                    alt=""
                                    class="hero__play-img"
                                />
                                <img
                                    src="./assests/icons/hero-decor-letters.svg"
                                    alt=""
                                    class="hero__decor-letters"
                                />
                            </div>
                            <img
                                src="./assests/img/img-hero-media.jpg"
                                alt=""
                                class="hero__img"
                            />
                            <img
                                src="./assests/img/img-hero-deco.png"
                                alt=""
                                class="hero__decor-img"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
