<header class="header">
    <div class="container">
        <div class="header__inner">
            <!-- Logo -->
            <a
                class="logo"
                href="/"
            >
                <div class="logo__wrapper">
                    <img
                        src="./assets/icons/hammer-black.svg"
                        alt="law-firm-logo"
                        class="logo__icon"
                    />
                    <div class="logo__title">
                        <span>Justice</span>
                        <span>Law Firm</span>
                    </div>
                </div>
            </a>

            <label
                class="drawer-open"
                for="drawer"
            >
                <img
                    src="./assets/icons/hamburger-icon.svg"
                    alt="icon"
                />
            </label>

            <input
                type="checkbox"
                id="drawer"
                hidden
            />

            <label
                for="drawer"
                class="drawer-overlay"
            ></label>

            <div class="nav-wrapper">
                <!-- For responsive -->
                <a
                    class="logo__wrapper"
                    href="/"
                >
                    <div class="logo">
                        <img
                            src="./assets/icons/hammer-black.svg"
                            alt="icon"
                            class="logo__icon"
                        />
                        <div class="logo__title">
                            <span>Justice</span>
                            <span>Law Firm</span>
                        </div>
                    </div>
                </a>

                <!-- Drawer close -->
                <label
                    class="drawer-close"
                    for="drawer"
                >
                    <i class="fa-solid fa-xmark"></i>
                </label>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item navbar__item-active">
                            <a
                                href="/"
                                class="navbar__link"
                                >Home</a
                            >
                        </li>
                        <li class="navbar__item">
                            <a
                                href="/about.html"
                                class="navbar__link"
                            >
                                About
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a
                                href="/practice-area.html"
                                class="navbar__link"
                            >
                                Practice Areas
                            </a>

                            <!-- Submenu -->
                            <ul class="submenu">
                                <li class="submenu__item">
                                    <a class="submenu__link">Divorce</a>
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link">Personal Injury</a>
                                    <img
                                        src="./assets/icons/arrow-right-black.svg"
                                        alt=""
                                        class="submenu__icon"
                                    />
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link">Employment</a>
                                    <img
                                        src="./assets/icons/arrow-right-black.svg"
                                        alt=""
                                        class="submenu__icon"
                                    />
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link">Immigration</a>
                                    <img
                                        src="./assets/icons/arrow-right-black.svg"
                                        alt=""
                                        class="submenu__icon"
                                    />
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link">Family</a>
                                    <img
                                        src="./assets/icons/arrow-right-black.svg"
                                        alt=""
                                        class="submenu__icon"
                                    />
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link">Property</a>
                                    <img
                                        src="./assets/icons/arrow-right-black.svg"
                                        alt=""
                                        class="submenu__icon"
                                    />
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item">
                            <a
                                href="/blog.html"
                                class="navbar__link"
                                >Blog</a
                            >
                        </li>
                        <li class="navbar__item">
                            <a
                                href="/contact.html"
                                class="navbar__link"
                                >Contact Us</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Phone -->
            <div class="phone">
                <span class="phone__label">Call :</span>
                <span class="phone__number"
                    ><a href="tel:123456789">(000) 123 456 789</a></span
                >
            </div>
        </div>
    </div>
</header>
