<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Blog</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <!-- Banner -->
            <section class="banner blog-banner">
                <div class="container">
                    <div class="banner__inner blog-banner__inner">
                        <h1 class="banner__heading blog-banner__heading">
                            Latest Story From My Blog
                        </h1>
                        <p class="banner__desc blog-banner__desc">
                            Welcome to Marc Jacobs we want our monthly roundup
                            of new releases and undisputed favorites.
                        </p>
                    </div>
                </div>
            </section>

            <!-- Article Section -->
            <section class="article">
                <div class="container">
                    <div class="article__list">
                        <!-- Row 1 -->
                        <div class="row">
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-01.jpg"
                                            alt="Article Image"
                                            class="article__img"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-02.jpg"
                                            alt="Article Image"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-03.jpg"
                                            alt="Article Image"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-04.jpg"
                                            alt="Article Image"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-05.jpg"
                                            alt="Article Image"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-06.jpg"
                                            alt="Article Image"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-07.jpg"
                                            alt="Article Image"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-08.jpg"
                                            alt="Article Image"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-md-6 col-sm-12">
                                <article class="article__card">
                                    <a class="article__img-wrapper">
                                        <img
                                            src="./assets/img/img-article-09.jpg"
                                            alt="Article Image"
                                        />
                                    </a>
                                    <div class="article__info">
                                        <div class="article__publish-time">
                                            <img
                                                src="./assets/icons/calendar-icon.svg"
                                                alt="Calender Icon"
                                                class="article__icon"
                                            />
                                            <span class="article__date"
                                                >Feb 21 2021</span
                                            >
                                        </div>
                                        <h3 class="article__title">
                                            <a href="#!">Design Inspiration</a>
                                        </h3>
                                        <p class="article__summary">
                                            Welcome to Marc Jacobs We Want our
                                            monthly roundup of new releases and
                                            undisputed favorites.
                                        </p>
                                        <a
                                            href="#!"
                                            class="article__link"
                                            >READ MORE</a
                                        >
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="article__btn-wrapper">
                <a
                    href="#!"
                    class="btn article__btn"
                    >Read All</a
                >
            </div>
        </main>
        <%- include("./partials/footer.ejs") %>

        <!-- Style -->
        <script
            type="module"
            src="./main.js"
        ></script>
    </body>
</html>
