<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Law Firm</title>

        <!-- Favicon -->
        <link
            rel="icon"
            type="image/png"
            href="/assets/favicon/favicon-96x96.png"
            sizes="96x96"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/assets/favicon/favicon.svg"
        />
        <link
            rel="shortcut icon"
            href="/assets/favicon/favicon.ico"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/assets/favicon/apple-touch-icon.png"
        />
        <link
            rel="manifest"
            href="/assets/favicon/site.webmanifest"
        />

        <!-- Font -->
        <link
            rel="stylesheet"
            href="/assets/fonts/manrope/stylesheet.css"
        />
        <link
            rel="stylesheet"
            href="/assets/fonts/roboto-slab/stylesheet.css"
        />

        <!-- Icon -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        />
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <main style="height: 4000px">
            <!-- About -->
            <section class="about">
                <div class="container">
                    <div class="about__wrapper">
                        <div class="row">
                            <!-- Media -->
                            <div class="col-7 col-md-12">
                                <div class="about__media">
                                    <img
                                        src="/assets/img/img-about-image.jpg"
                                        alt="media-image"
                                        class="about__img"
                                    />
                                    <img
                                        src="/assets/img/img-about-decor.png"
                                        alt="decor-image"
                                        class="about__decor"
                                    />
                                </div>
                            </div>
                            <!-- Info -->
                            <div class="col-5 col-md-12">
                                <div class="about__info">
                                    <span class="label about__label"
                                        >#About Us</span
                                    >
                                    <h2 class="section-heading about__heading">
                                        Get the Guidance, Support, and Counsel
                                    </h2>
                                    <p class="about__desc">
                                        Every year hundreds of clients choose
                                        our firm because of our dedication to
                                        advocating for our clients before,
                                        during and after closing.
                                    </p>
                                    <div class="about__stats">
                                        <div class="about__group-stat">
                                            <strong class="about__number"
                                                >1782</strong
                                            >
                                            <span class="about__stat-label"
                                                >Law Cases</span
                                            >
                                        </div>
                                        <div class="about__group-stat">
                                            <strong class="about__number"
                                                >10+</strong
                                            >
                                            <span class="about__stat-label"
                                                >Lawyer</span
                                            >
                                        </div>
                                        <div class="about__group-stat">
                                            <strong class="about__number"
                                                >98%</strong
                                            >
                                            <span class="about__stat-label"
                                                >Happy Clients</span
                                            >
                                        </div>
                                    </div>
                                    <a
                                        href="#!"
                                        class="btn about__btn"
                                        >Learn More</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>

        <!-- Style -->
        <script
            type="module"
            src="./main.js"
        ></script>
    </body>
</html>
